<html>
  <body onload="startTime()">
  <link rel="stylesheet" href="/static/css/style.css">
  <script src="/static/js/time.js"></script>
<div>
<div class="menu">
    <img src="https://i.ibb.co/5x9qHxv/logo.png" alt="logo" border="0" class="ren_img">
         <form action="/" method="post">
          <input class="search_border_1" type="text" name="query" placeholder="Search">
          <br>
          <br>
          <input class="button1" type="submit" value="Search">
        </form> 
          <div id="clockdate">
              <div class="clockdate-wrapper">
                <div id="clock"></div>
                <div id="date"></div>
              </div>
            </div>
        <br><br><a href="google.com">Websites</a>
    </div></div>
  </body>
</html>